{layout '../@layout.latte'}
{block content}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-11 col-xl-9">
				<br>
				<h3>New Dream</h3>
				{$sorcerer->render()}
			</div>
		</div>
	</div>
{/block}